<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Document Title</title>

    <!-- Resources -->
    <!-- Fontawesome icon library Resource -->
    <link rel="stylesheet" th:href="@{/webjars/fontawesome__fontawesome-free/css/all.css}">

    <!-- Bootstrap Webjar Resource -->
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <script defer th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script defer th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container" >
    <div class="card mb-3">
        <form method="post">
            <label for="name">text message</label>
            <input type="text" id="name" name="name">

        </form>

    </div>


</div>


<div>

</div>
</body>
</html>