<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document Title</title>

    <!-- Resources -->
    <!-- Fontawesome icon library Resource -->
    <link rel="stylesheet" th:href="@{/webjars/fontawesome__fontawesome-free/css/all.css}">

    <!-- Bootstrap Webjar Resource -->
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <script defer th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script defer th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<body>
<header class="header">
    <h1 class="header-title"> This is the first MVC project </h1>
    <p th:text="#{index.text}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, quibusdam.</p>
    <ul>
        <li>
            <link rel="stylesheet" href="###">
        </li>
        <li>
            <link rel="stylesheet" href="###">
        </li>
        <li>
            <link rel="stylesheet" href="###">
        </li>
    </ul>

</header>


</body>
</html>